{% extends 'base.html' %}

{% block title %}
    {{ super() }} - Deletar usuário
{% endblock title %}

{% block main %}
<div class="container" align="center">
        <h1 align="center">Apagar usuário: {{usuario.nome}}</h1>

        <form action="/delete_user/{{usuario.id}}">
            <div class="form-group col-md-4">
                <label for="nome_usuario">Código</label>
                <input type="text" class="form-control" id="nome_usuario" name="nome_usuario" value="{{usuario.nome_usuario}}" disabled>
              </div>
    
              <div class="form-group col-md-4">
                <label for="senha_usuario">Nome Produto</label>
                <input type="text" class="form-control" id="senha_usuario" name="senha_usuario" value="{{usuario.senha_usuario}}" disabled>
              </div>

              <div class="form-group col-md-4">
                <label for="nome">Valor</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{usuario.nome}}" disabled>
              </div>

              <div class="form-group col-md-4">
                <label for="cpf">Quantidade</label>
                <input type="text" class="form-control" id="cpf" name="cpf" value="{{usuario.cpf}}" disabled>
              </div>

              <div class="form-group col-md-4">
                <label for="nivel_acesso">Categoria</label>
                <input type="text" class="form-control" id="nivel_acesso" name="nivel_acesso" value="{{usuario.nivel_acesso}}" disabled>
              </div>

              <a href="/usuarios_cadastrados"><button type="button" class="btn btn-primary">Cancelar</button></a>
            <button type="submit" class="btn btn-danger" onclick="msg()">Apagar</button>
          </div>
{% endblock main %} 