{% extends 'base.html' %}


{% block title %}
    {{ super() }} - Usuários Cadastrados
{% endblock title %}
    

{% block main %}

<p class="ocultar nivel">{{current_user.nivel_acesso}}</p>

<div class="container hider" align="center">
    <h1 align="center" class="fill2" >Usuários Cadastrados</h1>
    <table border="1" width="70%" class="table table-striped">
        <thead>
            <tr>
                <th class="fill2">Nome Usuário</th>
                <!-- <th class="fill2">Senha Usuário</th> -->
                <th class="fill2">Nome</th>
                <th class="fill2">CPF</th>
                <th class="fill2">Nível Acesso</th>
            </tr>
        </thead>
        <tbody>
            {% for u in usuarios %}
            <tr>
                <td>{{u.nome_usuario}}</td>
                <!-- <td>{{u.senha_usuario}}</td> -->
                <td >{{u.nome}}</td>
                <td>{{u.cpf}}</td>
                <td>{{u.nivel_acesso}}</td>
                <td>
                    <a href="/edit_usuario/{{u.id}}"> <img src="{{url_for('static', filename='images/editar.png')}}"></a>
                    <a href="/deletar_usuario/{{u.id}}"> <img src="{{url_for('static', filename='images/remover.png')}}"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <script src="{{ url_for('static', filename='js/verifica_acesso.js')}}"></script>
</div>

{% endblock main %} 